<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card> -->
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <div class="input-group">
        <ion-item>
          <!-- <ion-label>Username</ion-label> -->
          <ion-input type="username" placeholder="username" formControlName="username"></ion-input>
          
          <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
            <span *ngIf="email.errors?.required">Email is required</span>
            <span *ngIf="email.errors?.email">Email is invalid</span>
          </div>
          <hr/>
        </ion-item>
        <ion-item>
          <!-- <ion-label>Password</ion-label> -->
          <app-show-hide-password>
            <ion-input type="password" placeholder="password" formControlName="password"></ion-input>
          </app-show-hide-password>
        </ion-item>

      </div>
      <!-- <ion-checkbox color="light">
        Remember Me
      </ion-checkbox> -->
      <hr/>
      <ion-button type="submit" expand="block" color="light">Logon <ion-icon name="chevron-forward"></ion-icon></ion-button>
    
    </form>
    
  <!-- </ion-card> -->
  
  <ion-button (click)="setupPW()" fill="clear" id="return"><ion-icon name="return-up-back"></ion-icon>   &nbsp;Don't have a password?</ion-button>

</ion-content>
